// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: '../webfonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
.loan-form button {
    margin-top: 30px;
}
.card {
    margin-top: 30px;
}
.card-heading {
    font-size: 18px;
    text-transform: capitalize;
}
.view-loan {
    .card-header {
        position: relative;
        ul {
            position: absolute;
            right: 20px;
            top: 12px;
        }
    }
}
.badge {
    text-transform: capitalize !important;
    font-size: 13px !important;
}
.navbar-nav li a {
    font-size: 16px;
}
.nav-item .active {
    color: $blue !important;
}